body{padding: 0;margin: 0;overflow: hidden;}

.buttonSort, .buttonNewValues{
	background-color:#63b8ee;
    border-width: 0;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
    font-size: 1.5vw;
}
.buttonSort:hover, .buttonNewValues:hover{
	background-color:#468ccf;
}
.buttonSort:active, .buttonNewValues:active{
	position:relative;
}

.select {
    font-family: 'Arial';
    cursor: pointer;
    outline: 0;
    background: #63b8ee;
    color: #000000;
    font-weight: bold;
    text-align: center;
    border: none;
    font-size: 1.5vw;
}
.select:hover{
    color: #000000;
    background: #468ccf;
}

.divNumValues{
    font-weight: bold;
    color: #000000;
    background: #63b8ee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    pointer-events:none;
}

.slider{
    all:unset;
    all:initial;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #63b8ee;
    border-radius: 0px;
    border: 0px;
}

.slider::-webkit-slider-runnable-track:hover{
    background: #468ccf;
}

.slider::-webkit-slider-thumb {
    border: 0px;
    height: 100%;
    width: 10%;
    border-radius: 0px;
    background: #8ecae6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.5px;
}

label {
    font-weight: bold;
    color: #000000;
    background: #63b8ee;
    font-size: 1.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} 

label:hover{
    color: #000000;
    background: #468ccf;
}

input[type=checkbox]{
    display: none;
}


input:checked + label{
    background: #0e2b46;
    color: #63b8ee;
} 