body{padding: 0;margin: 0;overflow: hidden;}

.buttonSort, .buttonNewValues{
	background-color:#63b8ee;
    border-width: 0;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
}
.buttonSort:hover, .buttonNewValues:hover{
	background-color:#468ccf;
}
.buttonSort:active, .buttonNewValues:active{
	position:relative;
}

.select {
    font-family: 'Arial';
    cursor: pointer;
    outline: 0;
    background: #63b8ee;
    color: #000000;
    font-weight: bold;
    text-align: center;
    border: none;
}
.select:hover{
    color: #000000;
    background: #468ccf;
}

input {
    all: initial;
    all: unset;
    background-color: #63b8ee;
	color: #000000;
	border-width: 0;
    font-weight: bold;
    text-align: center;
}

input:hover{
    background-color: #468ccf;
}

.slider{
    color: #000000;
    background-color: #63b8ee;
}
